<div class="container">
    <span class="heading">ADITYA GADE</span><br>
    <span class="sub">Angular Developer</span><br>
    <span class="description">
        I am a dedicated Angular Developer with extensive experience in developing dynamic and interactive web applications. Over the course of my career, I have successfully completed multiple projects, including a Smart Image Gallery, a Learning Application, a Weather App, and a Tic-Tac-Toe (XO) Game. These projects demonstrate my proficiency in building responsive, user-friendly, and efficient applications using the Angular framework.

        I have honed my skills through comprehensive training and have completed professional Angular courses at Technolearn Pune, which provided me with a strong foundation in modern front-end development practices.
        </span>
</div>

<div class="skills-container">
    <h2>Skills</h2>
    <ul>
      <li>Proficient in TypeScript and JavaScript</li>
      <li>Knowledge of Angular CLI and Angular framework</li>
      <li>Building and consuming RESTful APIs</li>
      <li>Two-way data binding and Component-based architecture</li>
      <li>Understanding of Dependency Injection</li>
      <li>Proficiency in HTML, CSS, and SCSS</li>
      <li>Experience with Git and version control systems</li>
      <li>Responsive design and cross-browser compatibility</li>
      
    </ul>
  </div>