<div class="card-container">
    <div class="card-wrapper">
        <div class="card">
          <h3>Learning App</h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <button (click)="learn()">visit link</button>
        </div>
        
      </div>
    <div class="card">
      <h3>Smart Search</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      <button (click)="smart()">visit link</button>
    </div>

    <div class="card">
      <h3>Registration</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      <button (click)="forms()">visit link</button>
    </div>

    <div class="card">
      <h3>XO</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      <button (click)="game()">visit link</button>
    </div>
    <div class="card">
      <h3>TO-DO</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      <button (click)="TO()">visit link</button>
    </div>
  </div>