<div class="home-container">
    <h1 [class.active]="isActive">Welcome To My Website</h1>
    <p>Your one-stop destination for [your services/products].</p>
    <button class="btn" (click)="navigate()">Hello</button>
  </div>
  

<div class="img-container">
    <img (click)='img1()' src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png" alt="">
    <img (click)="img3()" src="https://cdn-icons-png.flaticon.com/512/542/542689.png" alt="">
    <img (click)="img2()" src="https://cdn-icons-png.flaticon.com/512/3536/3536569.png" alt="">
    
   

</div>